* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem; 
    font-family: sans-serif;
    background-color: #0B0C0F;
    height: 100vh;
    overflow-x: hidden;
}
.section1{
    background: url(./imghulu/header-background.jpeg);
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    z-index: 1;

}
.navbar{
    width: 90vw;
    min-height: 7.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 8.6rem;
}
.navbar img{
    width: 6.1rem;
}
.navbar a{
    font-size: 2rem;
    font-weight: 500;
    padding: 1.3rem;
    border-radius: .8rem;
    background: transparent;
    font-family: sans-serif;
    transition: background .2s ease-in ;
    color: #A8AFBD;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #535559;
    color: #fff;

}

.section1text{
    margin: 0 auto;
    text-align: center;
    height: 70%;
    font-family: sans-serif;
}
.section1text h2{
    color: #1CE783;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.section1text img{
    width: 70vw;
    margin-bottom: 1.5rem;
}
.section1text h3{
    width: 60vw;
    margin: 0 auto;
    color: white;
    font-size: 2.5rem;
    margin-bottom:1.5rem ;

}
.section1text button{
    background-color: #1CE783;
    color: black;
    border-radius: 2px;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: sans-serif;
    width: 80vw;
    border: 1.2rem  #1CE783 solid;
    margin-bottom: 2rem;
    transition: background .2s ease-in ;
}
.section1text button:hover{
    opacity: 0.75;
}

.tag1{
    color: #FFFFFF99;
    font-size: 1.4rem;
}
.tag2{
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
}
.loginbox{
    background-color: white;
    z-index: 2;
    height: 65rem;
    width: 45rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
.loginbox>*{
    margin-left: 4rem;
}
label{
    color:#272c35;
    font-size: 1.5rem;
    font-weight: 600;
   
}
.loginbox input{
    margin-left: 4rem;
    width: 37rem;
    border: black solid .1rem;
    border-radius: 3px;
    height: 5rem;
}
#email, #password{
    margin-bottom:3rem ;
    margin-top: .5rem;
}
.loginbox h2{
    font-size: 3rem;
    color: #272c35;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    
}
.a1{
    text-decoration: none;
}
.loginbox button{
    margin-top: 3rem;
    width: 37rem;
    height: 5rem;
    border: none;
    background-color: #828282;
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
    border-radius: 5px;
    margin-bottom: 18rem;
}
.loginbox button:hover{
    scale: 1.02;
}
.a2{
    text-decoration: none;
}
.a2 span{
    color: #272c35;
}