@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500&family=Noto+Sans+Symbols:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem; 
    font-family: sans-serif;
    background-color: #f7f7f9;
}
.navbar{
    background-color: white;
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 6rem;
    margin-left: 3rem;
}
.navbar a{
    margin-right:5rem;
    color: #272c35;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
}
h1{
    margin-top: 5rem;
    text-align: center;
    font-size: 4.5rem;
    color: #040405 ;
    font-weight: 800;
}
h2{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    color: #636e85 ;
}
.flexbox{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 3rem;
    width: 30vw;
    border-bottom: solid #636e85 1px;
    height: 4rem;
    font-size: 2rem;
    font-weight: 600;
}
.base{
    color: blue;
}


#base:checked{

}
